$color-primary: #007bff; // Bleu Bootstrap par exemple
$color-secondary: #f8f9fa; // Gris clair Bootstrap par exemple
$color-success: #28a745;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-info: #17a2b8;

body {
    background-color: $color-secondary;
    font-family: 'Helvetica', sans-serif;
}

.table {
    th, td {
        vertical-align: middle;
    }
}

.badge {
    &.bg-warning { background-color: $color-warning; }
    &.bg-danger { background-color: $color-danger; }
    &.bg-success { background-color: $color-success; }
    &.bg-info { background-color: $color-info; }
}

.btn {
    border: none;
    &:hover {
        opacity: 0.8;
    }
    &.btn-success { background-color: $color-success; }
    &.btn-danger { background-color: $color-danger; }
}